<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Products</div>
    <div class="page__content shadow p-3 position-relative">
        <!-- <div class="page__content-data position-absolute text-center"> -->
        <div class="page__content-data">
            <div class="container-fluid" style="background-color:#0e1317">
                <div class="section-title">
                    <h2 style="color:white"><br><br>Cryptocurrencies</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="assets/images/Pimag1.jpg" class="img-fluid img" alt="..." width="490px" height="268px">
                    </div>
                    <div class="col-sm-6">
                        <h1 class="text-center" style="color: white;font-size:20px;margin-top:50px;">There are thousands of cryptocurrencies, most with very little value and unclear potential. Many advisors recommend investors stick to Bitcoin and Ethereum — if any — and pass on the smaller cryptos. 
                            Leading cryptocurrency news outlet CoinDesk maintains a Coindesk 20 list of the most popular cryptocurrencies currently being bought and sold. This list includes cryptocurrency assets and networks by their most common names. Some, like Bitcoin (BTC), have one name for both the blockchain network and the cryptocurrency. Others, like Ethereum, are named for the broader blockchain network, but have a different name for their associated native cryptocurrency (Ether, or ETC, in the case of Ethereum).
                            Updated quarterly, the list ranks cryptocurrencies based on dollar volume and other data from third-party cryptocurrency exchanges, where people can buy and sell different cryptocurrencies.</h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="background-color:#0e1317">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="assets/images/Pimage2.jpg" class="img-fluid img" alt="..." width="490px" height="268px">
                    </div>
                    <div class="col-sm-6">
                        <h1 class="text-center" style="color: white;font-size:20px;margin-top:50px;">Ether (ETH) is the cryptocurrency of the Ethereum network, an open-source blockchain upon which developers can build apps and other cryptocurrencies. It’s also the second largest cryptocurrency by market cap, behind Bitcoin. Ether’s value has risen sharply since its creation in 2013, to nearly $3,000 for one token as of late May, but still lags well behind Bitcoin’s value of nearly $40,000 per coin.</h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="background-color:#0e1317">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="assets/images/Pimage3.jpg" class="img-fluid img" alt="..." width="490px" height="268px">
                    </div>
                    <div class="col-sm-6">
                        <h1 class="text-center" style="color: white;font-size:20px;margin-top:50px;">USD Coin (USDC) describes itself as “the world’s digital dollar.” Created by a global financial firm called Circle, USDC is the result of work that has been invested in by Goldman Sachs, Baidu, and IDG Capital, among others. USD Coin is tied to the U.S. Dollar, which makes its price much more stable than other cryptocurrencies. That stability lends itself more toward digital payments, while other cryptocurrencies have more potential to increase in value as investments (along with more risk of losing value, of course).</h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="background-color:#0e1317">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="assets/images/Pimage4.jpg" class="img-fluid img" alt="..." width="490px" height="268px">
                    </div>
                    <div class="col-sm-6">
                        <h1 class="text-center" style="color: white;font-size:20px;margin-top:50px;">Dogecoin (DOGE) was originally created as a meme or parody cryptocurrency, but that didn’t stop it from seeing a surge in value in early summer 2021. Tesla CEO Elon Musk has weighed in on Dogecoin, which helped drive its surge in value and popularity before it fell back dramatically in the second half of the year. (CRYPTOCURRENCIES)</h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="background-color:#0e1317">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="assets/images/Pimage5.jpg" class="img-fluid img" alt="..." width="490px" height="268px">
                    </div>
                    <div class="col-sm-6">
                        <h1 class="text-center" style="color: white;font-size:20px;margin-top:50px;">XRP is the cryptocurrency of the Ripple digital payment network. Built for digital payments, XRP touts itself as a faster and more efficient way to power global payments. Ripple and XRP also allow for third-party development on other uses for XRP.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>